heroku config:set MAIL_DRIVER=smtp
heroku config:set MAIL_HOST=smtp-mail.outlook.com
heroku config:set MAIL_PORT=587
heroku config:set MAIL_USERNAME=v3mars@live.cn
heroku config:set MAIL_PASSWORD=org.nanbutu
heroku config:set MAIL_ENCRYPTION=TLS
heroku config:set MAIL_FROM_ADDRESS=v3mars@live.cn
heroku config:set MAIL_FROM_NAME=FeiboApp

# 线上域名
 heroku config:set APP_URL=http://shrouded-shelf-92814.herokuapp.com